/* Color-Scheme For All Themes*/

* {
    background:    #0b0f14ee;
    background-alt:    #151b24ff;
    foreground:    #eaf2ffff;
    border:    #22d3eeff;
    selected:    #ff3dbfff;
    urgent:    #ff5a8aff;
	logo:    #22d3eeff;
	on:    #22c55eff;
	off:    #ff5a8aff;
}
