/* Three-column launcher layout based on gh0stzk's style_1.rasi. */
@import "../../themes/shared.rasi"

configuration { modi: "drun"; icon-theme: "Papirus-Dark"; show-icons: true; drun-display-format: "{name}"; disable-history: true; hover-select: true; }
window { width: 550px; height: 0px; location: center; anchor: center; border-radius: 6px; }
mainbox { spacing: 0px; padding: 0px; background-color: transparent; children: [ "inputbar", "listbox" ]; }
listbox { spacing: 10px; padding: 15px; background-color: transparent; children: [ "listview" ]; }
inputbar { spacing: 10px; padding: 20px 24px; background-color: transparent; children: [ "prompt", "entry" ]; }
prompt { padding: 12px 16px; background-color: @fuchsia; }
entry { padding: 12px; placeholder: "Buscar aplicaciones"; }
listview { columns: 3; lines: 5; fixed-columns: true; fixed-height: true; spacing: 4px; scrollbar: false; }
element { spacing: 10px; padding: 9px; border-radius: 4px; }
element selected.normal { background-color: @selected; text-color: @foreground; border: 0px; }
element-icon { size: 24px; }
element-text { vertical-align: 0.5; horizontal-align: 0.0; }
